body{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 50px;
  line-height: 60px;
  text-decoration: overline;
  margin-left: 20px;
  margin-right: 20px;
}

h2{
  font-size: 200px;
  line-height: 70px;
}

h1{
  font-family: 'Archivo Narrow', sans-serif;



}
